{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% embed 'radix:block' with {
  html_tag: 'div',
  block_utility_classes: [
    'block--system-branding',
  ],
} %}

  {% block block_content %}
    {% include 'radix:navbar-brand' with {
      text: site_name,
      slogan: site_slogan,
      image: site_logo,
      width: '40px',
      height: 'auto',
      path: path('<front>'),
      alt: elements.content.site_name['#markup'] ~ ' logo' ,
    } %}
  {% endblock %}

{% endembed %}
