/**
 * @file
 * Global styles and styles for 
 * elements not otherwise contained within a component
 */

:root {
    --base-font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

header {
    background: darkred; /* temp rule to help visualize region */
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.layout-container { /* div container for entire page */

}

main {
    max-width: 95%;
    margin: 0 auto;
    background: grey;
}

pre,
code,
kbd,
samp {
  font-family: monospace;
}